<html>
	<body>
		<h1>Welcome to the next-gen Tennis Scoreboard!</h1>
		<form id=start-scoreboard-container action=/scoreboard method=get>
			<input type=submit id=start-scoreboard-btn value='Start Scoreboard' >
		</form>
	</body>
</html>